# Data Science Tools and EcoSystems

In this notebook data science tools and ecosystems are summarised .

**Objectives:**

- Languages used in data science 
- Liberaries used by data scientists 
- Data science tools 
- some airthmatic operations in python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. TensorFlow
3. MatPlotLib
4. NumPy

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|Apache Hadoop|

###  Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60.
print("200 minutes in hours is ",200/60)

200 minutes in hours is  3.3333333333333335

## Author
Nandni Aggarwal